SOURCE_ACCOUNT=test
NETWORK=testnet
USER_ADDRESS=test
BLEND_TOKEN=CAQCFVLOBK5GIULPNZRGATJJMIZL5BSP7X5YJVMGCPTUEPFM4AVSRCJU
POOL_ADDRESS=CCEBVDYM32YNYCVNRXQKDFFPISJJCV557CDZEIRBEE4NCV4KHPQ44HGF
DEFINDEX_TOKEN=CB3TLW74NBIOT3BUWOZ3TUM6RFDF6A4GVIRUQRQZABG5KPOUL4JJOV2F
DEFINDEX_VAULT_ADDRESS=CALLOM5I7XLQPPOPQMYAHUWW4N7O3JKT42KQ4ASEEVBXDJQNJOALFSUY
LOCK_PERIODS=604800
DEPOSIT_ID=ABCDE12345
DEPOSIT_AMOUNT=100000000
LOCK_PERIOD=604800
REWARD_AMOUNT=50000000
NEW_LOCK_PERIOD=7776000
