NODE_ENV=development

# Backend API
NEXT_PUBLIC_SERVICES_URL=https://api-service.vaquita.fi

# Ably (realtime)
NEXT_PUBLIC_ABLY_KEY=

# PostHog (analytics)
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Privy (auth)
NEXT_PUBLIC_PRIVY_APP_ID=

# STELLAR
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_STELLAR_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
