NODE_ENV=development
NEXT_PUBLIC_SERVICES_URL=https://api-service.vaquita.fi

# STELLAR
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_STELLAR_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"

# PRIVY
NEXT_PUBLIC_PRIVY_APP_ID=
